
$main: #a5d6a7;
$light: #d7ffd9;
$dark: #75a478;
$shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$borderRadDefault: 15px;
$marginDefault: 10px;
$paddingDefault: 10px;

%flexColumn {
  display: flex;
  flex-direction: column;
}

%flexRow {
  display: flex;
  flex-direction: row;
}

%absoluteModal {
  position: absolute;
}

%dropButtonsDefaultStyle {
  background-color: transparent;
  border: none;
}

%dropInputsDefaultStyle {
  background-color: transparent;
  border: none;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}
